* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
}
button::-moz-focus-inner {
	border: 0 none;
	margin: 0;
	padding: 0;
	outline: none;
}
em {
	font-style: normal; 
}
img{
	    border: 0;
}
button {
	border: none;
	background-color: none;
}

img {
	vertical-align: middle;
	max-width: 100%;
}

svg {
	fill: currentColor;
	font: inherit;
	vertical-align: top;
}

.is-fixed {
	z-index: 10 !important
}
input:focus {
	outline: none
}

blockquote {
	border-left: 2px solid #ddd;
	padding-left: .3em;
	line-height: 1.4;
	color: #999;
}

html {
	height: 100%;
}

#app {
	height: 100%;
}

body {
	height: 100%;
	font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", "sans-serif", "Helvetica", "STHeiti STXihei", "Microsoft YaHei", "Arial";
	color: #353535;
	padding: 0;
/*	max-width: 750px;*/
	line-height: 1.4;
	font-size: 14px;
	background: rgb(245, 245, 245)
}

.mint-header-title {
	font-size: 1rem;
}
.hide{
	display: none;
}
.show{
	display: block;
}
a {
	color: #333;
	text-decoration: none;
}

a:hover{text-decoration:underline;color: #333;}
/* 清除浮动 */
.cf:before,.cf:after {
content:"";
display:table;
}
.cf:after { clear:both; }
.cf { zoom:1; }/* For IE 6/7 (trigger hasLayout) */
/*小三角形*/
.triangle_border_up {
    display:block;
    width:0;
    height:0;
    border-width:0 8px 8px;
    border-style:solid;
    border-color:transparent transparent #C20C0C;/*透明 透明  黄*/
    position:absolute;
    top:0px;
    left:0px;
}
.triangle_border_down {
    display:block;
    width:0;
    height:0;
    border-width:0 8px 8px;
    border-style:solid;
    border-color: #fff transparent transparent;/*透明 透明  黄*/
    position:absolute;
    top:0px;
    left:0px;
}